<h1><%= @board_thread.title + ' 投稿数(' + @board_thread.posts.count.to_s + ')' %></h1>
<div id="main-body">

  <div id="posts-area">
    <%= render @posts %>
  </div>


  <%= paginate @posts %>
  <%= link_to 'スレッド一覧', :board_threads %>
</div>

<div id="post-form">
  <%= form_for ([@board_thread, @post]) do |f| %>
      <div>
        <%= f.label :text, '投稿内容' %>
        <%= f.text_field :text, size:120 %>
      </div>
      <div>
        <%= f.submit '投稿' %>
      </div>
  <% end  %>
</div>