<h1><%= @board_thread.title + ' 投稿数(' + @board_thread.posts.count.to_s + ')' %></h1>
<div id="main-body">
  <div id="posts-area">
    <% @board_thread.posts.each do |post| %>
        <li class="post">
          <div class="comment-header"><%= (link_to post.post_user_name, '') + post.created_at.to_s %>　| <%= link_to '削除', [@board_thread, post], method: :delete ,
          data: {confirm: "削除してもいい？"} %> </div>
          <p><%= post.text %></p>
        </li>
    <% end  %>
  </div>

  <div id="post-form">
    <%= form_for ([@board_thread, @post]) do |f| %>
        <div>
          <%= f.label :post_user_name, '投稿者名' %>
          <%= f.text_field :post_user_name %>
        </div>
        <div>
          <%= f.label :text, '投稿内容' %>
          <%= f.text_field :text %>
        </div>
        <div>
          <%= f.submit '投稿' %>
        </div>
    <% end  %>
  </div>
  <%= link_to 'スレッド一覧', :board_threads %>
</div>