<h1><%= @board_thread.title + ' 投稿数(' + @board_thread.posts.count.to_s + ')' %></h1>
<div id="main-body">
  <div id="posts-area">
    <li class="post">
          <div class="comment-header"><%= link_to @post.id, [@board_thread, @post]  %> <%= (link_to @post.post_user_name, '') + @post.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d').to_s %>　| <%= link_to '削除', [@board_thread, @post], method: :delete ,
          data: {confirm: "削除してもいい？"} %> </div>
          <p><%= mention_anchor(@post.text,@board_thread.id).html_safe %></p>
        </li>

  </div>

  <%= link_to 'スレッド一覧', :board_threads %>
</div>